<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <meta charset="UTF-8">
    <title>Delete Teams</title>
</head>
<body>


<header>
    <div id="left">
    <h1><a href="{{url_for('showLeagues', leagues=leagues, login_session=login_session)}}">Welcome to the world Leagues</a></h1>
</div>
    <div id="right">
    {% if login_session['user_id'] %}

    <p>{{ login_session['username'] }}
    <a href="{{url_for('disconnect')}}"> Logout</a></p>
    {% else %}
    <a href="{{url_for('showLogin')}}">Login</a>

    {% endif %}
</div>
</header>

<div id="main">
<h1>Are you sure to delete {{teamToDel.teamname}} team ?</h1>


<form method="post" action="{{url_for('delTeam', league_id=league_id, team_id=team_id)}}">
    <button type="submit" name="yes" value="YES">Yes</button>
    <button type="submit" name="no" value="NO">No</button>
</form>
</div>
</body>
</html>