<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <meta charset="UTF-8">
    <title>Leagues</title>
</head>
<body>


<header>
    <div id="left">
    <h1><a href="{{url_for('showLeagues', leagues=leagues, login_session=login_session)}}">Welcome to the world Leagues</a></h1>
</div>
    <div id="right">
    {% if login_session['user_id'] %}

    <p>{{ login_session['username'] }}
    <a href="{{url_for('disconnect')}}"> Logout</a></p>
    {% else %}
    <a href="{{url_for('showLogin')}}">Login</a>

    {% endif %}
</div>
</header>

<br />
<div id="main">
{% for league in leagues %}
    <div id="data">
<h3>
<a href="{{url_for('showLeague', league_id = league.id)}}"><p>{{league.name}}</p></a>
</h3>
<br>
    </div>
{% endfor %}
</div>
</body>
</html>